[pylithapp.metadata]
keywords = [viscoelasticity]
features = [
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    pylith.materials.IsotropicLinearMaxwell,
    spatialdata.spatialdb.CompositeDB,
    spatialdata.spatialdb.SimpleDB,
    spatialdata.spatialdb.SimpleGridDB
    ]


#
# We combine the density, Vp, and Vs from a SimpleDB with the
# viscosity from a SimpleGridDB using a CompositeDB.

[pylithapp.problem.materials]
#---------------

UpperCrust_West.bulk_rheology = pylith.materials.IsotropicLinearElasticity
UpperCrust_East.bulk_rheology = pylith.materials.IsotropicLinearElasticity

LowerCrust_West.bulk_rheology = pylith.materials.IsotropicLinearMaxwell
LowerCrust_East.bulk_rheology = pylith.materials.IsotropicLinearMaxwell

UpperMantle_West.bulk_rheology = pylith.materials.IsotropicLinearMaxwell
UpperMantle_East.bulk_rheology = pylith.materials.IsotropicLinearMaxwell

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperCrust_West
[pylithapp.problem.materials.UpperCrust_West]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary UpperCrust_West
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_UpperCrust_West.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperCrust_East
[pylithapp.problem.materials.UpperCrust_East]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary UpperCrust_East
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_UpperCrust_East.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

#---------------------------------------------
# NEW
#---------------------------------------------
# LowerCrust_West
[pylithapp.problem.materials.LowerCrust_West]
db_auxiliary_field = spatialdata.spatialdb.CompositeDB
db_auxiliary_field.description = Composite spatial database for LowerCrust_West material properties

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain, viscous_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0

[pylithapp.timedependent.materials.LowerCrust_West.db_auxiliary_field]
# Elastic properties
values_A = [density, vs, vp]
db_A = spatialdata.spatialdb.SimpleDB
db_A.description = Elastic properties for LowerCrust_West
db_A.iohandler.filename = mat_Longmen_elastic_LowerCrust_West.spatialdb

# Viscoelastic properties
values_B = [viscosity, viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_yz, viscous_strain_xz, total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_yz, total_strain_xz]
db_B = spatialdata.spatialdb.SimpleGridDB
db_B.description = Linear Maxwell viscoelastic properties for LowerCrust_West
db_B.filename =   mat_Longmen_maxwell_LowerCrust_West.spatialdb
db_B.query_type = linear

[pylithapp.timedependent.materials.LowerCrust_West.bulk_rheology]
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.maxwell_time.basis_order = 1
auxiliary_subfields.viscous_strain.basis_order = 1


#---------------------------------------------
# NEW
#---------------------------------------------
# LowerCrust_East
[pylithapp.problem.materials.LowerCrust_East]
db_auxiliary_field = spatialdata.spatialdb.CompositeDB
db_auxiliary_field.description = Composite spatial database for LowerCrust_East material properties

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain, viscous_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0

[pylithapp.timedependent.materials.LowerCrust_East.db_auxiliary_field]
# Elastic properties
values_A = [density, vs, vp]
db_A = spatialdata.spatialdb.SimpleDB
db_A.description = Elastic properties for LowerCrust_East
db_A.iohandler.filename = mat_Longmen_elastic_LowerCrust_East.spatialdb

# Viscoelastic properties
values_B = [viscosity, viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_yz, viscous_strain_xz, total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_yz, total_strain_xz]
db_B = spatialdata.spatialdb.SimpleGridDB
db_B.description = Linear Maxwell viscoelastic properties for LowerCrust_East
db_B.filename =   mat_Longmen_maxwell_LowerCrust_East.spatialdb
db_B.query_type = linear

[pylithapp.timedependent.materials.LowerCrust_East.bulk_rheology]
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.maxwell_time.basis_order = 1
auxiliary_subfields.viscous_strain.basis_order = 1



#---------------------------------------------
# NEW
#---------------------------------------------
# UpperMantle_West
[pylithapp.problem.materials.UpperMantle_West]
db_auxiliary_field = spatialdata.spatialdb.CompositeDB
db_auxiliary_field.description = Composite spatial database for UpperMantle_West material properties

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain, viscous_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0

[pylithapp.timedependent.materials.UpperMantle_West.db_auxiliary_field]
# Elastic properties
values_A = [density, vs, vp]
db_A = spatialdata.spatialdb.SimpleDB
db_A.description = Elastic properties for UpperMantle_West
db_A.iohandler.filename = mat_Longmen_elastic_UpperMantle_West.spatialdb

# Viscoelastic properties
values_B = [viscosity, viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_yz, viscous_strain_xz, total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_yz, total_strain_xz]
db_B = spatialdata.spatialdb.SimpleGridDB
db_B.description = Linear Maxwell viscoelastic properties for UpperMantle_West
db_B.filename =   mat_Longmen_maxwell_UpperMantle_West.spatialdb
db_B.query_type = linear

[pylithapp.timedependent.materials.UpperMantle_West.bulk_rheology]
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.maxwell_time.basis_order = 1
auxiliary_subfields.viscous_strain.basis_order = 1

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperMantle_East
[pylithapp.problem.materials.UpperMantle_East]
db_auxiliary_field = spatialdata.spatialdb.CompositeDB
db_auxiliary_field.description = Composite spatial database for UpperMantle_East material properties

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain, viscous_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0

[pylithapp.timedependent.materials.UpperMantle_East.db_auxiliary_field]
# Elastic properties
values_A = [density, vs, vp]
db_A = spatialdata.spatialdb.SimpleDB
db_A.description = Elastic properties for UpperMantle_East
db_A.iohandler.filename = mat_Longmen_elastic_UpperMantle_East.spatialdb

# Viscoelastic properties
values_B = [viscosity, viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_yz, viscous_strain_xz, total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_yz, total_strain_xz]
db_B = spatialdata.spatialdb.SimpleGridDB
db_B.description = Linear Maxwell viscoelastic properties for UpperMantle_East
db_B.filename =   mat_Longmen_maxwell_UpperMantle_East.spatialdb
db_B.query_type = linear

[pylithapp.timedependent.materials.UpperMantle_East.bulk_rheology]
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.maxwell_time.basis_order = 1
auxiliary_subfields.viscous_strain.basis_order = 1




