[pylithapp.metadata]
keywords = [elastic]
features = [
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    pylith.materials.IsotropicLinearMaxwell,
    spatialdata.spatialdb.CompositeDB,
    spatialdata.spatialdb.SimpleDB,
    spatialdata.spatialdb.SimpleGridDB
    ]


#
# We combine the density, Vp, and Vs from a SimpleDB with the
# viscosity from a SimpleGridDB using a CompositeDB.

[pylithapp.problem.materials]
#---------------

UpperCrust_West.bulk_rheology = pylith.materials.IsotropicLinearElasticity
UpperCrust_East.bulk_rheology = pylith.materials.IsotropicLinearElasticity

LowerCrust_West.bulk_rheology = pylith.materials.IsotropicLinearElasticity
LowerCrust_East.bulk_rheology = pylith.materials.IsotropicLinearElasticity

UpperMantle_West.bulk_rheology = pylith.materials.IsotropicLinearElasticity
UpperMantle_East.bulk_rheology = pylith.materials.IsotropicLinearElasticity

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperCrust_West
[pylithapp.problem.materials.UpperCrust_West]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary UpperCrust_West
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_UpperCrust_West.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperCrust_East
[pylithapp.problem.materials.UpperCrust_East]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary UpperCrust_East
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_UpperCrust_East.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

#---------------------------------------------
# NEW
#---------------------------------------------
# LowerCrust_West
[pylithapp.problem.materials.LowerCrust_West]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary LowerCrust_West
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_LowerCrust_West.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0


#---------------------------------------------
# NEW
#---------------------------------------------
# LowerCrust_East
[pylithapp.problem.materials.LowerCrust_East]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary LowerCrust_East
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_LowerCrust_East.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperMantle_West
[pylithapp.problem.materials.UpperMantle_West]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary UpperMantle_West
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_UpperMantle_West.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

#---------------------------------------------
# NEW
#---------------------------------------------
# UpperMantle_East
[pylithapp.problem.materials.UpperMantle_East]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary UpperMantle_East
db_auxiliary_field.iohandler.filename = mat_Longmen_elastic_UpperMantle_East.spatialdb

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0





